<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail Page</title>
</head>
<body>
    <%-include("navbar")%>
    <div>
        <label>
            Product Name: <%=product.name%>
        </label><br>
        <label>
            Price: <%=product.price%>
        <br>
        <label>
            Qty: <%=product.qty%>
        </label>
        <br>
        <label>
            Manufacturer: <%=product.manufacturer%>
        </label>
    </div>
</body>
</html>